<script>
    all_sliders(true)
</script>
<td width="8%" align="center" valign="top">
    <% element = value.element  %>

    <% if !element.nil? %>
        <div id="value">
        <div id="<%= element.name %>" style="height:200px;"></div>
        <p>
          <lable for:"<%= element.name %>"><%= t element.name %></lable>
        </p>
        </div>
     <% end %>
  </td>
