<div id="value">
    <div id="ObserveAndInteract_id" style="height:200px;"></div>
    <p>
      <lable for:"ObserveAndInteract">Observe & Interact</lable>
      <input type="text" id="ObserveAndInteract" style="border:0; color:#f6931f; font-weight:bold;">
    </p>
</div>