<div id="value_set">
  <p>
    <strong>Snapshot Date:</strong>
    <%= latest_snapshot_date(@project).strftime("%F %T") %>
  </p>
  <table>
    <tr>
  <% @value_set.values.each do |value| %>
   <%= render value  %>
  <% end %>

  </tr>
  </table>
</div>